/*generics*/

body {
    margin: 0;
}

/*utilities*/

.container {
    width: 1080px;
    margin: 0 auto;
}

.text-lightblue {
    color: rgb(32, 156, 179);
}

.text-grey {
    color: rgb(90, 86, 86);
}

w-50 {

}

/*header*/

time {
    font-size: 10px;
}

#main-header {
    background: #4ea0ff;
    height: 100px;
    line-height: 100px;
    background-image: url('img/pattern.png');
    background-size: 30%;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

article {
    margin: 30px 0;
}

figure{
    margin: 20px 0;
}

ul {
padding-inline-start: 0;
list-style-position: inside;

}

th {
    text-align: left;
    color: white;
background-color: #20a9e5;
}

tr {
    background-color: #b1e5f2;
}

.w-50 {
    width: 50%;
}

.even-row {
 background-color: white;   
}